body {
    font-family: 'Poppins', sans-serif;

    min-height: 100vh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

main {
    min-height: 100vh;

    background: #e6d5b7;

    &#cast-details {
        header {
            section {
                background-position: center center;
            }
        }
    }
}

.btn-bumper {
    font-size: 14px;
    font-weight: 500;

    display: inline-block;

    padding: 8px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;

    color: #fff;
    border: 1px solid #000;
    outline: none;
    background: #e5771e;
    box-shadow: 5px 5px #bb3f03;

    appearance: none;

    &.active {
        background: #34495e;
        box-shadow: 5px 5px #5d6d7e;
    }

    &:active {
        transform: translate(3px, 3px);

        box-shadow: 2px 2px 0 #000;
    }

    &:hover {
        background: #c74c39;
        box-shadow: 5px 5px #ff6f61;
    }
}