nav {
    position: fixed;
    z-index: 20;
    top: 0;

    display: flex;

    width: 100%;
    height: 77px;
    padding-left: 25px;

    border-top: 6px solid #ce572c;
    border-bottom: 1px solid #937650;
    background-color: #fffceb;

    align-items: center;


    &.sticky {
        position: sticky;
    }


    ul {
        display: flex;

        width: 100%;
        padding: 0;

        list-style: none;

        li {
            margin-right: 10px;
        }

        #login {
            display: flex;

            margin-right: 25px;
            margin-left: auto;


            .signout {
                margin-left: 10px;

                user-select: none;

                background-color: rgb(155, 89, 182);
                box-shadow: rgb(125, 60, 152) 5px 5px;
            }
        }

        span {
            font-size: 14px;
            font-weight: 500;

            display: block;

            margin-right: 20px;
            padding: 8px;

            cursor: pointer;
            text-decoration: none;
            letter-spacing: 1px;

            color: #fff;
            border: none;
            outline: none;
            background: #e5771e;
            box-shadow: 5px 5px #bb3f03;

            appearance: none;
        }
    }

    p {
        font-size: 20px;
        font-weight: 500;

        display: flex;

        margin-left: auto;
        padding-right: 25px;

        color: #937650;

        align-items: center;

        a {
            margin: 0 10px;
        }
    }
}