.searching {
    position: relative;
    z-index: 10;

    display: grid;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    place-content: center;

    img {
        display: block;

        width: 200px;
        margin: 0 auto 25px auto;
    }

    .search {
        position: relative;

        width: 800px;
        height: 80px;

        form {
            display: flex;

            padding: 0 20px;

            border: 2px solid transparent;
            background: rgba(90, 61, 43, 0.85);

            align-items: center;
            backdrop-filter: blur(4px);
            justify-content: center;

            &:has(input:user-invalid, select:user-invalid, textarea:user-invalid) {
                border-color: #c74c39;
            }

            svg {
                position: absolute;
                top: 50%;
                left: 10px;

                transform: translateY(-50%);
            }

            input {
                font-size: 16px;

                width: 90%;
                height: 80px;

                letter-spacing: 1px;

                color: #fff;
                border: none;
                outline: none;

                appearance: none;
            }

            button {
                font-size: 18px;
                font-weight: 500;

                height: 50px;
                padding: 0 20px;

                cursor: pointer;
                letter-spacing: 1px;

                color: #fff;
                border: 1px solid #000;
                outline: none;
                background: #3498db;
                box-shadow: 5px 5px #2e86c1;

                appearance: none;

                &:active {
                    transform: translate(3px, 3px);

                    box-shadow: 5px 5px 0 #000;
                }
            }
        }
    }
}

.radios {
    display: flex;

    margin-top: 25px;

    justify-content: center;

    .radio {
        display: inline-flex;

        justify-content: center;

        &:first-child {
            margin-right: 25px;
        }

        label {
            font-family: 'Archivo', sans-serif;
            font-size: 18px;
            font-weight: 900;
            line-height: 30px;

            margin-left: 10px;

            cursor: pointer;
            letter-spacing: 1px;

            color: #000;
        }

        input {
            position: relative;

            width: 30px;
            height: 30px;

            cursor: pointer;
            transition: transform 0.1s ease, box-shadow 0.1s ease;

            color: #fff;
            border: 2px solid #291c13;
            outline: none;
            background: #5a3d2b;
            box-shadow: 3px 3px 0 #291c13;

            appearance: none;

            &:active {
                transform: translate(1px, 1px);

                box-shadow: 2px 2px 0 #291c13;
            }

            &:checked {
                transform: translate(3px, 3px);

                background: #e6842b;
                box-shadow: 0 0 0 #291c13;

                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    width: 10px;
                    height: 10px;

                    content: '';
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

main {
    overflow: hidden;

    height: calc(100% - 77px);
}