.searching {
    position: relative;
    z-index: 10;

    display: grid;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    place-content: center;

    img {
        display: block;

        width: 200px;
        margin: 0 auto 25px auto;
    }

    .search {
        position: relative;

        width: 800px;
        height: 80px;

        form {
            svg {
                position: absolute;
                top: 50%;
                left: 10px;

                transform: translateY(-50%);
            }

            input {
                font-family: 'Poppins';
                font-size: 16px;

                width: 100%;
                height: 80px;

                text-indent: 45px;
                letter-spacing: 1px;

                color: #fff;
                border: none;
                outline: none;
                background: rgba(90, 61, 43, 0.85);

                appearance: none;
            }

            button {
                font-family: 'Poppins';
                font-size: 18px;
                font-weight: 500;

                position: absolute;
                top: 50%;
                right: 15px;

                height: 50px;
                padding: 0 20px;

                cursor: pointer;
                transform: translateY(-50%);
                letter-spacing: 1px;

                color: #fff;
                border: none;
                outline: none;
                background: #e5771e;
                box-shadow: 5px 5px #bb3f03;

                appearance: none;
            }
        }
    }
}

.radios {
    display: flex;

    margin-top: 25px;

    justify-content: center;

    .radio {
        display: flex;

        &:first-child {
            margin-right: 25px;
        }

        label {
            font-family: 'Poppins';
            font-size: 18px;
            font-weight: 600;

            height: 50px;
            margin-top: 4px;
            margin-left: 10px;

            letter-spacing: 1px;

            color: #000;
        }

        input {
            position: relative;

            width: 30px;
            height: 30px;

            cursor: pointer;
            transition: all 550ms ease-in-out;

            color: #fff;
            border: none;
            outline: none;
            background: #5a3d2b;
            box-shadow: 3px 3px #937650;

            appearance: none;

            &:checked {
                border-color: #e5771e;
                background-color: #e5771e;
                box-shadow: 3px 3px #bb3f03;
            }
        }
    }
}

main {
    overflow: hidden;

    height: calc(100% - 77px);
}