.lines {
    position: fixed;
    top: 0;
    left: 50%;

    display: flex;
    overflow: visible;

    width: clamp(320px, 25vw, 550px);
    height: 100vh;

    transform: translateX(-50%);

    gap: 25px;

    .line {
        position: relative;

        height: 100%;

        background: transparent;

        flex: 1;

        &::before {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 50%;

            content: '';

            background: var(--color);

            backface-visibility: hidden;
            transform-style: preserve-3d;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 50%;

            content: '';
            transform-origin: top center;

            background: var(--color);

            backface-visibility: hidden;
            transform-style: preserve-3d;
        }

        &:nth-child(1) {
            &::after {
                transform: perspective(1000px) rotateX(50deg) skew(-5deg);
            }
        }

        &:nth-child(2) {
            &::after {
                transform: perspective(1000px) rotateX(50deg) skew(-2deg);
            }
        }

        &:nth-child(3) {
            &::after {
                transform: perspective(1000px) rotateX(50deg) skew(0deg);
            }
        }

        &:nth-child(4) {
            &::after {
                transform: perspective(1000px) rotateX(50deg) skew(2deg);
            }
        }

        &:nth-child(5) {
            &::after {
                transform: perspective(1000px) rotateX(50deg) skew(5deg);
            }
        }

        &:nth-child(6) {
            &::after {
                transform: perspective(1000px) rotateX(50deg) skew(8deg);
            }
        }
    }
}